body {
  margin: 0;
  padding: 0;

  font-family: "Cuprum", Arial, sans-serif;
  font-size: 13px;
  line-height: 24px;
  font-weight: 400;
  color: #000000;
  text-transform: none;

  background-color: #ffffff;
}

a {
  text-decoration: none;
}

header {
  background-color: #f3f7f8;
  padding-bottom: 60px;
  margin-bottom: 23px;
}

.main-navigation {
  font-size: 17px;
  line-height: 17px;
  color: #ffffff;
  background-color: #32425c;
  display: flex;
  flex-direction: column;
  box-shadow: 0 5px 0 0 #293449;
}

.main-navigation-wrapper {
  padding: 0 24px;
}

.main-navigation.container {
  padding: 0;
}

.site-navigation {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 0;
}


.site-navigation li {
    flex-grow: 1;
    text-align: center;
}

.navigation-item {
   display: inline-block;
   width: 100%;
   padding-top: 21px;
   padding-bottom: 18px;
 }

.site-navigation,
.user-menu,
.delivering-company,
.footer-menu,
.footer-main-menu,
.footer-social,
.feedback,
.user-menu-login,
.breadcrumbs,
.manufacturer-list,
.power-list,
.calatog-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.site-navigation a,
.header-content a {
  color: #ffffff;
}

.site-navigation a:hover,
.site-navigation a:focus {
  background-color: #293449;
}

.site-navigation a:active {
  color: rgba(255, 255, 255, 0.5);
}

.header-content {
  font-size: 17px;
  line-height: 18px;
  color: #ffffff;
  background-color: #293449;
  margin-bottom: 46px;
  display: flex;
  flex-direction: row;

  width: auto;
}

.header-content .container {
  display: flex;
  justify-content: space-between;
}

.top-header-button {
  padding-top: 11px;
  padding-bottom: 0px;
  padding-left: 50px;
  padding-right: 31px;
  margin: 0;
  width: auto;
}

.bookmarks-button {
  position: relative;
}

.bookmarks-button::before {
  content: "";
  position: absolute;
  width: 14px;
  height: 16px;
  top: 12px;
  left: 17px;

  background-image: url("..img/icon-bookmark.png");
  background-repeat: no-repeat;
  background-position: 0 0;
  background-position: 100% 100%;
  opacity: 0.3;
}

.cart-button {
  position: relative;
}

.cart-button::before {
  content: "";
  position: absolute;
  width: 14px;
  height: 16px;
  top: 12px;
  left: 17px;
  background-color: #ffffff;
  background-image: url("img/icon-cart.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  opacity: 0.3;
}

.top-header-button:hover,
.header-search:hover {
  background-color: #212a3a;
}

.top-header-button:active {
  color: rgba(255, 255, 255, 0.6);
}

.order-button {
  background-color: #63a63e;
  padding-top: 11px;
  padding-bottom: 12px;
  padding-left: 21px;
  padding-right: 21px;
  margin: 0;
}

.order-button:hover {
  background-color: #5fbb2d;
}

.order-button:active {
  background-color: #518534;
  color: rgba(255, 255, 255, 0.5);
}

.user-menu-button {
  background-color: #ffffff;
  color: #000000;
  font-size: 21px;
  line-height: 21px;
  display: inline-block;
}

.user-menu-button:hover,
.user-menu-button:focus {
  color: #ee3643;
}

.user-menu-button:active {
  color: rgba(0, 0, 0, 0.3);
}

.header-italic {
  font-family: Cuprum;
  font-size: 16px;
  font-weight: normal;
  font-style: italic;
  font-stretch: normal;
  line-height: 1.44;
  letter-spacing: normal;
  text-align: left;
  color: #ee3643;
  text-transform: none;
  width: 196px;
  margin: 0;
  padding: 0;
  margin-top: 8px;
  padding-left: 53px;
}

.header-logo {
  background-color: #ee3643;
  padding-top: 13px;
  padding-bottom: 0px;
  padding-left: 55px;
  padding-right: 55px;
  box-shadow: 0 5px 0 0 #B62430;
  margin: 0;
}

.header-logo:hover,
.header-logo:focus {
  background-color: #ca2c37;
}

.header-logo:active {
  background-color: #ba2732;
}

.header-logo.container {
  padding: 0;
}

.header-search {
  font: inherit;
  background-color: #293449;
  color: #ffffff;
  border: 0px solid #000000;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 21px;
  padding-right: 21px;
  margin: 0;
  width: 270px;
  box-sizing: border-box;
}

.header-search:hover {
  background-color: #212a3a;
}

.header-search::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color:    #ffffff;
}
.header-search:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color:    #ffffff;
   opacity:  1;
}
.header-search::-moz-placeholder { /* Mozilla Firefox 19+ */
   color:    #ffffff;
   opacity:  1;
}
.header-search:-ms-input-placeholder { /* Internet Explorer 10-11 */
   color:    #ffffff;
}
.header-search::-ms-input-placeholder { /* Microsoft Edge */
   color:    #ffffff;
}

.header-search::placeholder { /* Most modern browsers support this now. */
   color:    #ffffff;
}

.header-search:focus,
.header-search:active {
  background-color: #ffffff;
  color: #000000;
}

.header-fone {
  font-size: 21px;
  line-height: 21px;
  color: #ee3643;
  border-width: 3px;
  border-color: #ffffff;
  border-style: solid;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 74px;
  padding-right: 52px;
  position: relative;
}

.header-fone::before {
  content: "";
  position: absolute;
  width: 14px;
  height: 16px;
  top: 12px;
  left: 17px;
  background-color: #ffffff;
  background-image: url("img/icon-cart.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  opacity: 0.3;
}

.user-menu-button.user-menu-enter {
  padding-left: 48px;
  padding-right: 27px;
}

.user-menu-enter {
  position: relative;
}

.user-menu-enter::before {
  content: "";
  position: absolute;
  width: 14px;
  height: 16px;
  top: 12px;
  left: 17px;
  background-color: #ffffff;
  background-image: url("img/icon-cart.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  opacity: 0.3;
}

.header-adress {
  font-size: 14px;
  line-height: 24px;
  color: #32425c;
  margin: 0;
  padding: 0;
  align-self: center;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

.about-company b,
.contacts b {
  font-size: 30px;
  line-height: 30px;
  font-weight: 400;
  text-transform: uppercase;
}

.about-company p,
.contacts p {
  font-family: "PTSans-Regular", sans-serif;
  font-style: normal;
  font-size: 13px;
  line-height: 24px;
  text-transform: none;
}

.delivering-company {
  font-size: 18px;
  line-height: 20px;
}

.delivering-company-item {
  padding-left: 35px;
  padding-bottom: 20px;
  position: relative;
}

.delivering-company-item::before {
  position: absolute;
  content: "";
  width: 25px;
  height: 2px;
  top: 10px;
  left: 1px;
  background-color: #ee3643;
}

.about-company .red-button {
  width: 220px;
}

.red-button {
  background-color: #ee3643;
  color: #ffffff;
  padding-top: 10.25px;
  padding-bottom: 10.25px;
  text-transform: uppercase;
  margin-top: 40px;
  border-radius: 5px;
  text-align: center;
}

.red-button:hover,
.red-button:focus {
  background-color: #ca2c37;
}

.red-button:active {
  background-color: #ba2732;
}

.big-map-modal,
.write-us-modal,
.modal-good-in-cart {
  display: none;
}

.upper-footer {
  background-color: #32425c;
  font-size: 18px;
  line-height: 24px;
  color: #f3f7f9;
}

.footer-main-menu a {
  color: #f3f7f9;
}

.footer-main-menu a:hover,
.footer-main-menu a:focus {
  text-decoration: underline;
}

.footer-main-menu a:active {
  text-decoration: none;
  color: rgba(241, 245, 247, 0.5);
}

.footer-main-menu {
  display: flex;
  justify-content: flex-end;
  padding-top: 42px;
  width: 608px;
}

.footer-main-menu li {
  padding-left: 60px;
}

.footer-menu a {
  color: #ffd180;
}

.footer-menu a:hover,
.footer-menu a:focus {
  text-decoration: underline;
}

.footer-menu a:active {
  text-decoration: none;
  color: rgba(255, 209, 128, 0.5);
}

.footer-menu-wrapper {
  display: flex;
  justify-content: space-between;
  padding-bottom: 39px;
}

.footer-menu-wrapper p {
  font-size: 18px;
  line-height: 24px;
  padding: 0;
  margin: 0;
}

.footer-menu {
  display: flex;
  justify-content: flex-end;
  width: 575px;
}

.footer-menu li {
  padding-left: 60px;
}

.footer-logo {
  background-color: #ee3643;
  height: 23px;
  width: 138px;
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 20px;
  padding-bottom: 20px;
  box-shadow: 0 5px 0 0 #B62430;
}

.lower-footer {
  background-color: #293449;
  color: #ffffff;
  padding-top: 39px;
  padding-bottom: 30px;
}

.lower-footer .container {
  display: flex;
  justify-content: space-between;
}

.lower-footer p {
  font-size: 16px;
  line-height: 18px;
  color: #ffffff;
  margin: 0;
  padding: 0;
}

.feedback a {
  font-size: 16px;
  line-height: 18px;
  color: #ffd180;
}

.feedback a:hover,
.feedback a:focus {
  text-decoration: underline;
}

.feedback a:active {
  text-decoration: none;
  color: #ee3643;
}

.feedback {
  display: flex;
  justify-content: space-between;
}

.feedback li {
  padding-left: 53px;
}

.social-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 43px;
  height: 43px;
  background-color: #212a3a;
  border-radius: 21px;
}

.footer-social {
  display: flex;
  width: 138px;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0 auto;
  padding: 0;
  padding-left: 80px;
}

.social-button:hover,
.social-button:focus
.social-button:active {
  background-color: #ee3643;
}

.user-personal,
.button-logout {
  font-size: 21px;
  line-height: 21px;
  color: #000000;
}

.user-personal:active {
  color: rgba(0, 0, 0, 0.3);
}

.breadcrumbs {
  font-family: "PTSans", sans-serif;
  font-size: 14px;
  line-height: 17.5px;
  text-transform: uppercase;
  display: flex;
}

.breadcrumbs-item {
  padding-left: 40px;
  margin-bottom: 23px;
}

.breadcrumbs a {
    color: #000000;
}

.page-title {
  background-color: #f2f6f8;
  font-size: 30px;
  line-height: 30px;
  color: #32425c;
  text-transform: uppercase;
  padding: 30px;
  padding-top: 32px;
  padding-bottom: 34px;
}

.filter-text {
  font-family: "PTSans", sans-serif;
  font-size: 17.5px;
  line-height: 31.5px;
  color: #000000;
  text-transform: uppercase;
  font-weight: bold;
}

.filter-manufacturer {
  font-family: "PTSans", sans-serif;
  font-size: 15px;
  line-height: 20px;
  color: #000000;
  text-transform: uppercase;
}

.goods-filters button {
  font-family: "PTSans", sans-serif;
  font-size: 14px;
  line-height: 17.5px;
  background-color: #ffffff;
  color: #000000;
  border: 1px;
  border-style: solid;
  border-color: #e5e5e5;
  border-radius: 3px;
}

.buy-button {
  font-size: 14px;
  line-height: 17.5px;
  color: #ffffff;
  text-transform: uppercase;
  width: 135px;
  height: 38px;
  box-shadow: inset 0px -3px 0 0 #367315;
  background-color: #63a63e;
  border: none;
  border-radius: 3px;
  margin-bottom: 7px;
}

.bookmark-button {
  font-size: 14px;
  line-height: 17.5px;
  color: #32425c;
  text-transform: uppercase;
  width: 135px;
  height: 38px;
  background-color: #ffffff;
  border-width: 3px;
  border-color: #63a63e;
  border-radius: 3px;
  border-style: solid;
}

.buy-button:hover,
.buy-button:focus {
  background-color: #5fbb2d;
}

.buy-button:active {
  background-color: #518534;
}

.bookmark-button:hover,
.bookmark-button:focus {
  border-color: #32425c;
}

.bookmark-button:active {
  opacity: 0.3;
}

.user-menu-orders,
.user-menu-personal {
  color: #32425c;
  text-decoration: underline;
}

.user-menu-orders:hover,
.user-menu-personal:hover,
.user-menu-orders:focus,
.user-menu-personal:focus {
  color: #ee3643;
}

.user-menu-orders:active,
.user-menu-personal:active {
  color: rgba(50, 66, 92, 0.3);
}

.container {
  width: 940px;
  margin: 0 auto;
  padding: 0 10px;
}

.header-content-left,
.header-content-right {
  display: flex;
  margin: 0;
  padding: 0;
  flex-grow: 1;
  justify-content: space-between;
}

.header-content-left {
    width: 490px;
    flex-grow: 0;
}

.header-contacts {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  padding: 0;
  margin: 0;
}

.header-middle {
  display: flex;
  justify-content: space-between;
  margin-bottom: 44px;
}

.user-menu {
  display: flex;
  padding: 0;
  margin: 0;
}

.user-menu-registration {
  margin-left: 10px;
}

.user-menu-button {
  padding-left: 25px;
  padding-right: 25px;
  padding-top: 12px;
  padding-bottom: 12px;
}

.about-company-wrapper {
  display: flex;
  justify-content: space-between;
  padding-top: 82px;
  padding-bottom: 86px;
}

.about-company {
  padding-right: 121px;
}

.contacts {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.about-company {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.upper-footer-wrapper {
  display: flex;
  justify-content: space-between;
  margin-bottom: 45px;
}

.user-menu-login-name,
.user-menu-login-orders {
  display: flex;
  justify-content: space-between;
}

.user-menu-login-name {
  background-color: #ffffff;
  padding-top: 12px;
  padding-bottom: 12px;
}

.main-wrapper {
  display: flex;
  justify-content: space-between;
}

.catalog-list {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.catalog-list-1,
.catalog-list-2,
.catalog-list-3 {
  display: flex;
  justify-content: space-between;
  width: 700px;
}

.catalog-item {
  position: relative;
  border: 1px solid #ccc;
  width: 220px;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
  padding-top: 29px;
}


.catalog-item-title-h3 {
  order: 1;
  font-family: "PTSans", sans-serif;
  font-weight: bold;
  font-size: 18px;
  line-height: 20px;
  text-align: center;
  padding-bottom: 13px;
  margin: 0;
}

.catalog-item-image {
  padding-bottom: 42px;
}

.catalog-item a {
  color: #000000;
}

.catalog-item-old-price,
.catalog-item-price {
  order: 2;
  font-family: "PTSans", sans-serif;
  font-weight: bold;
  font-size: 17px;
  line-height: 18px;
}

.catalog-item-old-price {
  color: #999999;
  text-decoration: line-through;
  padding-bottom: 11px;
}

.catalog-item-price {
  padding-bottom: 34px;
  background-color: #ee3643;
  color: white;
  padding: 11px 30px;
  margin-bottom: 20px;
  position: relative;
  border-radius: 3px;
  width:80px;
}

.catalog-item-price::after {
  content:"";
    position:absolute;
    top:0;
    right:-20px;
    width:0;
    height:0;
    border:20px solid white;
    border-left-color:#ee3643;
}

.catalog-item .hover-block {
  display: none;
  position: absolute;
  background-color:rgba(255,255,255,0.9);
  top: 20px;
  left: 34px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 20px;
  padding-bottom: 10px;
}

.catalog-item:hover .hover-block {
  display: block;
}

.catalog-item p {
  padding: 0;
  margin: 0;
}
